/* Image cropping guideline */
div {
  border: 1px dotted gray;
  padding: 15px 15px 10px 10px;
  display: inline-block;
}

/* Coordinates color */
th {
  width: 30px;
  height: 30px;
  color: maroon;
}

/* Square size and border */
td {
  border: 0.5px solid maroon;
  width: 30px;
  height: 30px;
  text-align: center;
}

/* Board edges */
.top {
  border-top: 2px solid maroon;
}

.right {
  border-right: 2px solid maroon;
}

.bottom {
  border-bottom: 2px solid maroon;
}

.left {
  border-left: 2px solid maroon;
}

/* Square colors */
.dark {
  background-color: sienna;
}

.light {
  background-color: linen;
}

/* No space between cells */
table {
  border-spacing: 0;
}

/* Piece size */
i {
  font-size: 1.5rem;
}