/* General styles */

/* Remove default styles */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

body {
  width: 100%;
  min-height: 100vh;
}

/* Font */
main,
footer {
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  background-color: white;
  border-bottom: 0.5px dashed lightgray;
  text-align: center;
}

/* Site logo */
#logo {
  font-size: 3rem;
}

#logo-scale {
  font-size: 1.5rem;
}

/* Main menu */
#main-menu {
  font-size: larger;
  display: flex;
  border: ridge;
  justify-content: space-evenly;
  padding: 10px 0;
  margin: 15px 10% 15px 10%;
}

/* Main */

main {
  padding-top: 200px;
}

/* Intro on landing page */
#site-intro {
  padding: 15px;
  height: 490px;
  /* Photo by Vlada Karpovich: https://www.pexels.com/photo/chess-pieces-on-the-board-6114955/ */
  background: url(../images/pexels-vlada-karpovich-6114955.webp) center bottom / cover no-repeat;
}

#site-intro > div {
  text-align: justify;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
}

#site-intro p {
  margin-top: 5px;
}

#site-intro p:first-of-type {
  margin-top: 10px;
}

/* Email signup */
#mail-signup {
  padding: 15px 0 30px;
  text-align: center;
}

input {
  padding: 5px;
}

/* Openings and Checkmate pages */

img {
  width: 300px;
}

#openings p {
  margin-bottom: 5px;
}

/* Footer */

footer {
  background-color: white;
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
}

#links {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

footer i {
  font-size: 2rem;
}

footer .fa-chess-pawn {
  color: green;
}

footer .fa-chess-knight {
  color: navy;
}