/* General styles */

/* Remove default styles */
* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* Header */

header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: white;
  border-bottom: 0.5px dashed lightgray;
  text-align: center;
}

/* Site logo */
#logo {
  font-size: 3rem;
  margin-left: 15px;
}

#logo-scale {
  font-size: 1.5rem;
}

/* Main menu */
#main-menu {
  font-size: larger;
  list-style-type: none;
  display: flex;
  gap: 15px;
  border: ridge;
  justify-content: center;
  padding: 10px 0;
  margin: 15px 10% 15px 10%;
}

/* Main */

main {
  width: 100%;
  min-height: 100vh;
  position: absolute;
}

/* Chessboard graphic */
table {
  margin-top: 200px;
  margin-left: 15px;
  border: 2px solid maroon;
  border-spacing: 0;
}

td {
  border: 0.5px solid maroon;
  width: 30px;
  height: 30px;
  margin: 0;
  text-align: center;
}

.dark {
  background-color: sienna;
}

.light {
  background-color: linen;
}

i {
  font-size: 1.5rem;
}